@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.calculator {
    max-width: 280px;
    background: #eeeeee;
}
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 0;
}
.calc-result {
    background: #1e7145;
    color: #ffffff;
    border-radius: 5px;
    font-size: 2rem;
    border: 0;
    padding: 0.3rem;
    text-align: right;
    width: 100%;
    height: 100px;
}
.span-2 {
    grid-column: span 2;
}
/* .zero-span{
    grid-column: span 3;
} */
.btn{
    font-size:1em;
    height: 55px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #e7f0c8;
    color: #084d11;
}
.btn:hover{
    background: #ffffff;
}
.light-green{
    background-color: #d1ec6f;
}
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.calc_body{
    background-color: red;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(15px, auto);
    grid-gap: 5px;
    max-width: 600px;
    grid-template-areas: 
    "result result result result"
    "clear division multiple minus"
    "seven eight nine adding"
    "four five six adding"
    "one two three equal"
    "_zero _zero _dot equal";
}

.result {
    grid-area: result;
    height: 100%;
}
.clear {
    grid-area: clear;
    height: 100%;
}
.division {
    grid-area: division;
    height: 100%;
}
.multiple {
    grid-area: multiple;
    height: 100%;
}
.minus {
    grid-area: minus;
    height: 100%;
}
.seven {
    grid-area: seven;
    height: 100%;
}
.eight {
    grid-area: eight;
    height: 100%;
}
.nine {
    grid-area: nine;
    height: 100%;
}
.adding {
    grid-area: adding;
    height: 100%;
}
.four {
    grid-area: four;
    height: 100%;
}
.five {
    grid-area: five;
    height: 100%;
}
.six {
    grid-area: six;
    height: 100%;
}
.one {
    grid-area: one;
    height: 100%;
}
.two {
    grid-area: two;
    height: 100%;
}
.three {
    grid-area: three;
    height: 100%;
}
.equal {
    grid-area: equal;
    height: 100%;
}
._zero {
    grid-area: _zero;
    height: 100%;
}
._dot {
    grid-area: _dot;
    height: 100%;
} */